{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    荣誉详情
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="container">
                    <div class="jumbotron">
                        <h1>{{ award.award_name }}</h1>
                        <p>{{ award.get_time }}</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>获奖同学</th>
                            <th>获奖详情</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in award.student.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'student:student-detail' student.id %}">{{ student.student_name }}</a>
                                </td>
                                <td>{{ student.awardship_set.all }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
